.ck-iframely-options {
    padding: 5px 15px 5px 15px !important;
}
.ck-iframely-options .ck-labeled-input { 
    padding: 5px 0px 5px 0px;
}
.ck-iframely-options .ck-label {
    float: left;
    padding-right: 5px;
}
.ck-iframely-options .ck-disabled .ck-label {
    color: lightgrey !important;
}
.ck-input-radio-group {
    clear: both;
    padding-left: 15px !important;
}